.todoList li {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
#results,
.task .glyphicon-ok {
    color: #449d44;
}
#results span {
    color: #000;
}
.new{
    color: #aaa;
}
.task .glyphicon{
    display: block;
    padding: 8px;
}
.navbar {
    padding: 15px;
}
